/* Estilos generales */
body {
    font-family: 'Montserrat', 'Roboto', 'Open Sans', 'Alkatra', sans-serif;
  }
  
  /* Contenido principal */
  .container {
    max-width: 80%;

  }

h1 {
    font-family: 'Alkatra';
    color: #172A3A;
  }

h2, h3, h4, h5 {
    font-family: 'Roboto';
    color: #004346;
}

  /* Banner Principal */
  .banner {
    width: 100%;
    height: auto;
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  
  /* Botones */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  /* Imágenes */
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  